{{#each ideas}}
<!--For each idea, we will display the title and details in a bootstrap card-->
  <div class="card card-body mb-3">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block">Edit</a>
    <form method="post" action="/ideas/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-danger btn-block mt-2" value="Delete">
    </form>
  </div>
{{else}}
  <!--If no ideas, then display the following-->
  <div class="alert alert-danger">
      <!--text is a property of errors, so we can access it implicitly within the loop-->
    <p>No saved ideas found</p>
  </div>
{{/each}}